.ratings{
  p{
    color: var(--very-dark-magenta);
    background-color: var(--light-grayish-magenta);
    font-weight: 600;
    padding: .8rem 2rem;
    border-radius: 13px;
    margin-bottom: 17px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 50em){
      font-size: 1rem;
      font-weight: 700px;
      align-items: center;
    }

    &::before{
      content: '';
      width: 100px;
      height: 1rem;
      margin: 0 auto;
      display: block;
      background-image: url("/images/icon-star.svg");
      margin-bottom: .5rem;
      background-repeat: space;
    }

    @media (min-width: 50em){
      display: flex;
      align-content: center;
      align-items: center;
      padding: 1.5rem 2rem;
      margin-right: 3rem;
      &::before{
        margin: 0 1rem 0 0;
      }
    }
  }
}
@media (min-width: 50em){
  .rating{
    &:nth-child(1){
      transform: translateX(-3rem);
    }
    &:nth-child(3){
      transform: translateX(3rem);
    }
  }
}



